<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceChat" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4037/ServiceChat.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceChat" contract="ServiceChatReference.IServiceChat"
                name="BasicHttpBinding_IServiceChat" />
        </client>
    </system.serviceModel>
</configuration>